<h1>
  <%= @movie.title %> (<%= @movie.year %>)
</h1>

<img width=200 src=<%= @movie.picture %> />
<h3>
Genre: <%= @movie.genre %> <br />
Synopsis: <%= @movie.synopsis %>

</h3>



<div>
  <%= link_to("Update", "/movies/" + @movie.id.to_s + "/edit") %>
</div>

<div>
  <%= link_to("Destroy", "/movies/"+@movie.id.to_s, method: :delete) %>

